.u-section-1 .u-sheet-1 {
  min-height: 901px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 100px;
}

.u-section-1 .u-image-1 {
  height: 397px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-image-2 {
  min-height: 384px;
  background-image: url("/images/7DD2C8E6-4DD8-4597-A251-549E4740FBFE.JPG");
  background-position: 50% 83.45%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 791px;
}

.u-section-1 .u-container-layout-3 {
  padding: 97px 0;
}

.u-section-1 .u-image-3 {
  height: 586px;
  object-position: 50% 9.36%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 484px;
  width: 442px;
  margin: -545px auto 0 -231px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 10px 44px;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 10px 39px;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
  }

  .u-section-1 .u-image-2 {
    min-height: 317px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 652px;
  }

  .u-section-1 .u-image-3 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -404px;
    margin-left: -225px;
  }

  .u-section-1 .u-btn-1 {
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
  }

  .u-section-1 .u-image-2 {
    min-height: 243px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 370px;
    margin-top: -377px;
    margin-left: -187px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 448px;
  }

  .u-section-1 .u-image-2 {
    min-height: 365px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 548px;
  }

  .u-section-1 .u-image-3 {
    height: 508px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -625px;
    margin-left: 85px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
  }

  .u-section-1 .u-image-2 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 356px;
  }

  .u-section-1 .u-image-3 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    margin-top: -418px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 757px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 689px;
  height: 545px;
  grid-gap: 10px;
  margin: 40px auto 60px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-2 .u-gallery-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1041px;
}

.u-section-3 .u-shape-1 {
  height: 866px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-family: "Playfair Display", serif;
  text-transform: none;
  margin: -796px auto 0;
}

.u-section-3 .u-text-2 {
  width: 783px;
  font-weight: normal;
  margin: 34px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 745px;
  width: 1140px;
  grid-gap: 17px 17px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 60px;
  padding: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  background-image: none;
  border-style: none none solid;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
}

.u-section-3 .u-gallery-item-1 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-1 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 595px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 910px;
  }

  .u-section-3 .u-shape-1 {
    height: 746px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -676px;
  }

  .u-section-3 .u-gallery-1 {
    height: 614px;
    width: 940px;
  }

  .u-section-3 .u-back-image-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1354px;
  }

  .u-section-3 .u-shape-1 {
    height: 842px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -772px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1058px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-back-image-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3470px;
  }

  .u-section-3 .u-shape-1 {
    height: 1688px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1618px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3174px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-back-image-1 {
    grid-auto-columns: 100%;
    min-height: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2294px;
  }

  .u-section-3 .u-shape-1 {
    height: 1814px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -1744px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1998px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-group-1 {
  width: 707px;
  min-height: 678px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-shape-1 {
  margin-left: 0;
  margin-top: 0;
}

.u-section-4 .u-image-1 {
  width: 542px;
  height: 543px;
  margin: 0 auto;
}

.u-section-4 .u-group-2 {
  width: 570px;
  min-height: 462px;
  margin: -213px auto 60px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 20px 45px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-4 .u-group-1 {
    width: 615px;
    min-height: 609px;
  }

  .u-section-4 .u-shape-1 {
    left: auto;
    right: auto;
    margin-left: initial;
    margin-top: initial;
  }

  .u-section-4 .u-image-1 {
    width: 506px;
    height: 503px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -33px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    min-height: 555px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    width: 458px;
    height: 436px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-4 .u-group-1 {
    min-height: 366px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 286px;
    height: 275px;
  }

  .u-section-4 .u-group-2 {
    min-height: 480px;
    margin-top: 45px;
    margin-bottom: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 440px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 420px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 40px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("/images/x2.jpg");
  min-height: 420px;
  background-position: 50% 0%;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 420px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 28px 0 0;
}

.u-section-5 .u-link-1 {
  margin: 20px auto 40px 0;
}

.u-section-5 .u-image-2 {
  min-height: 420px;
  background-image: url("/images/xcz2.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-link-1 {
    position: relative;
  }

  .u-section-5 .u-image-2 {
    background-position: 0% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-link-1 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-link-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    background-position: 50% 0%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}