 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 647px;
}

.u-section-1 .u-shape-1 {
  width: 49px;
  height: 46px;
  margin: 14px auto 0 121px;
}

.u-section-1 .u-group-1 {
  width: 509px;
  min-height: 380px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 55px auto 0 61px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-1 .u-shape-2 {
  width: 430px;
  height: 307px;
  margin: 24px auto 0 57px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-style: italic;
  font-weight: 400;
  margin: -259px 66px 0;
}

.u-section-1 .u-shape-3 {
  height: 117px;
  width: 134px;
  margin: -453px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 401px;
  object-position: 30.46% 50%;
  height: 270px;
  transition-duration: 0.5s;
  margin: -99px 112px 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 220px;
  width: 352px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 24px 184px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  align-self: center;
  border-style: solid;
  margin: 33px auto 0;
  padding: 5px 77px 6px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  align-self: center;
  border-style: solid;
  margin: 25px auto 0;
  padding: 5px 99px 6px 97px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  align-self: center;
  border-style: solid;
  margin: 25px auto 0;
  padding: 5px 40px 6px 39px;
}

.u-section-1 .u-shape-4 {
  width: 67px;
  height: 55px;
  margin: -149px 45px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 40px;
  height: 65px;
  margin: 0 123px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 90px;
  height: 111px;
  margin: -35px 22px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 169px;
  transform-origin: right center 0px;
  margin: -96px auto 49px 423px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-left: 22px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -458px;
  }

  .u-section-1 .u-image-1 {
    width: 349px;
    height: 257px;
    margin-top: 50px;
    margin-right: 45px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 70px;
    margin-right: 154px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -331px;
  }

  .u-section-1 .u-line-1 {
    margin: -108px 358px 60px auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 383px;
    margin-right: 24px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -231px;
    margin-right: 152px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 230px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 129px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -494px;
    margin-right: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 38px;
    margin-left: 22px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -211px;
    margin-right: 12px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 14px;
    margin-right: 66px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -575px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 251px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 212px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -23px;
    margin-right: auto;
    margin-left: 39px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -662px;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 142px;
}

.u-section-2 .u-text-1 {
  margin: 21px 672px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 9px auto 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 146px;
}

.u-section-3 .u-text-1 {
  margin: 21px -11px 0 11px;
}

.u-section-3 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 21px;
}

.u-block-5d6e-12 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-block-5d6e-23 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-3 .u-table-1 {
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-3 .u-table-1 {
    margin-bottom: 16px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 190px;
}

.u-section-4 .u-text-1 {
  margin: 21px -11px 0 11px;
}

.u-section-4 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 19px;
}

.u-block-6eea-12 {
  height: 46px;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
}

.u-block-6eea-23 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-4 .u-table-1 {
    margin-bottom: 21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 989px;
}

.u-section-5 .u-text-1 {
  margin: 11px 683px 0 12px;
}

.u-section-5 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-block-b410-16 {
  height: 46px;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
}

.u-section-5 .u-table-cell-4 {
  background-image: none;
}

.u-section-5 .u-table-cell-6 {
  background-image: none;
}

.u-section-5 .u-table-cell-8 {
  background-image: none;
}

.u-section-5 .u-table-cell-10 {
  background-image: none;
}

.u-block-b410-27 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 495px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  margin: 11px 683px 0 12px;
}

.u-section-6 .u-table-1 {
  margin-top: 27px;
  margin-bottom: 49px;
}

.u-block-30db-16 {
  height: 46px;
}

.u-section-6 .u-table-cell-2 {
  background-image: none;
}

.u-section-6 .u-table-cell-4 {
  background-image: none;
}

.u-section-6 .u-table-cell-6 {
  background-image: none;
}

.u-section-6 .u-table-cell-8 {
  background-image: none;
}

.u-section-6 .u-table-cell-10 {
  background-image: none;
}

.u-block-30db-27 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 495px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 190px;
}

.u-section-7 .u-text-1 {
  margin: 21px -11px 0 11px;
}

.u-section-7 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 19px;
}

.u-block-bffb-12 {
  height: 46px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-table-cell-2 {
  background-image: none;
}

.u-section-7 .u-table-cell-4 {
  background-image: none;
}

.u-block-bffb-23 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 190px;
}

.u-section-8 .u-text-1 {
  margin: 21px -11px 0 11px;
}

.u-section-8 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 19px;
}

.u-block-4c7e-12 {
  height: 46px;
}

.u-section-8 .u-table-cell-2 {
  background-image: none;
}

.u-section-8 .u-table-cell-4 {
  background-image: none;
}

.u-section-8 .u-table-cell-6 {
  background-image: none;
}

.u-block-4c7e-23 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 356px;
}

.u-section-9 .u-text-1 {
  margin: 21px -11px 0 11px;
}

.u-section-9 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 40px;
}

.u-block-bcb0-12 {
  height: 46px;
}

.u-section-9 .u-table-cell-1 {
  background-image: none;
}

.u-section-9 .u-table-cell-2 {
  background-image: none;
}

.u-section-9 .u-table-cell-3 {
  background-image: none;
}

.u-section-9 .u-table-cell-4 {
  background-image: none;
}

.u-section-9 .u-table-cell-5 {
  background-image: none;
}

.u-section-9 .u-table-cell-6 {
  background-image: none;
}

.u-block-bcb0-23 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}